{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if object_list  %}
    <table>
    <caption>{% trans 'All Materials' %}</caption>
          <tr class="model-{{ model.object_name|lower }}">
            <th scope="row">{% trans 'Id' %}</th>
            <th scope="row">{% trans 'Material Name' %}</th>
            <th scope="row">{% trans 'Material Type' %}</th>
            <th scope="row">{% trans 'Price' %}</th>
            <th scope="row">{% trans 'Num' %}</th>
              <th scope="row">{% trans 'IsOverflow' %}</th>
        </tr>
    {% for material in object_list  %}
        <tr class="model-{{ model.object_name|lower }}">
            <td scope="row">{{ material.id }}</td>
            <td scope="row">{{ material.Name }}</td>
            <td scope="row">{{ material.Type }}</td>
            <td scope="row">{{ material.Price }}</td>
            {% if material.InventoryNum %}
                <td scope="row">{{ material.InventoryNum }}</td>
            {% else %}
                <td scope="row">0</td>
            {% endif %}
            <td scope="row">{{ material.isOverflow }}</td>
             <td><a href="/materialStorage/add/?mid={{ material.id }}" class="addlink">{% trans 'Add' %}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</div>
{% endblock %}