{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "other.css" %}" />
{% block content %}

<div id="content-main">

    <table class="module">
    <caption class="module" >{% trans 'All Materials' %}</caption>
          <tr class="model-{{ model.object_name|lower }}">
            <th scope="row">{% trans 'Id' %}</th>
            <th scope="row">{% trans 'Material Name' %}</th>
            <th scope="row">{% trans 'Material Type' %}</th>
            <th scope="row">{% trans 'Price' %}</th>
            <th scope="row">{% trans 'Num' %}</th>
              <th scope="row">{% trans 'IsOverflow' %}</th>
        </tr>
    {% if object_list  %}
    {% for material in object_list  %}
        <tr class="model-{{ model.object_name|lower }}">
            <td scope="row">{{ material.id }}</td>
            <td scope="row">{{ material.Name }}</td>
            <td scope="row">{{ material.Type }}</td>
            <td scope="row">{{ material.Price }}</td>
            {% if material.InventoryNum %}
                <td scope="row">{{ material.InventoryNum }}</td>
            {% else %}
                <td scope="row">0</td>
            {% endif %}
        {% if material.isOverflow %}
            <td scope="row">{% trans 'Yes' %}  </td>
        {% else %}
             <td scope="row">{% trans 'No' %}</td>
        {% endif %}
             <td><a href="/materialStorage/add/?mid={{ material.id }}" class="addlink">{% trans 'Add' %}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="model-{{ model.object_name|lower }}">
            <td scope="row">{{ "-"}}</td>
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{ "-" }}</td>
         <td scope="row">{{ "-" }}</td>
        </tr>
    {% endif %}
    </table>

</div>
{% endblock %}