{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "other.css" %}" />
{% block content %}
<div id="content-main">
<form action="/materialStorage/add/?mid={{ material.id }}" method="post">{% csrf_token %}
    <table class="module" style="width: auto">
    <caption class="section">
        <label style="font-size: 22px;color: green">{% trans 'Add inventory to  Material :' %}{{ material.Name }}</label>
    </caption>
    {{ form.as_table }}
    </table>
     <p class="submit"><input type="submit" name="submit" id="submit" class="button-primary" value="update"  /></p>
</form>

</div>
{% endblock %}