{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
<div class="module">

    <table class="module" >
    <caption>{% trans 'All entry records.' %}</caption>
          <tr class="model-{{ model.object_name|lower }}">
            <th scope="row">{% trans 'Id' %}</th>
            <th scope="row">{% trans 'Material Name' %}</th>
            <th scope="row">{% trans 'Num' %}</th>
            <th scope="row">{% trans 'Date Time' %}</th>
        </tr>
        {% if object_list|length > 0  %}
    {% for recorder in object_list  %}
        <tr class="model-{{ model.object_name|lower }}">
            <td scope="row">{{ recorder.id }}</td>
            <td scope="row">{{ recorder.Material.Name }}</td>
            <td scope="row">{{ recorder.Num }}</td>
            <td scope="row">{{  recorder.Data }}</td>
        </tr>
    {% endfor %}
            {% else %}
             <tr class="model-{{ "-" }}">
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{ "-" }}</td>
            <td scope="row">{{  "-" }}</td>

        {% endif %}

    </table>
 {% if not object_list|length > 0  %}
<a href="/admin/"><label style="font-size: 30px;text-decoration: underline">{% trans 'NO RECORDS' %}</label></a>
{% endif %}
</div>
</div>
{% endblock %}